<!DOCTYPE html>
<html lang="es-MX">

<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/resources/images/logo-ico.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Veterinaria</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/resources/css/style.css">
  <link rel="stylesheet" href="/resources/css/administrador.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">
</head>

<body>

  <div class="main">

    <nav class="navbar">
      <a class="btn-back" href="/"><i class="bi bi-arrow-left-square"></i></a>
      <img src="/resources/images/logo-nav.png" alt="logo">
      <div class="navbar-text">
        <h3><strong>Veterinaria</strong></h3>
        <h5>Los ingenieros</h5>
      </div>
    </nav>

    <div class="administrador-container">

      <div class="izquierda">
        <span>*Aun falta hacer la condicion de si ya existe el usuario no se puede agregar*</span>
          <form action="/adduser" method="post">
          <h2>Nuevo usuario</h2>
          <div class="mb-1">
            <label for="txt_usuario" class="form-label">Ingrese el nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese nuevo usuario"
              required="" />
          </div>
          <div class="mb-2">
            <label for="contrasena" class="form-label">Ingrese la contraseña</label>
            <input type="password" class="form-control" id="contrasena" name="contrasena"
              placeholder="Ingrese una contraseña" required />
          </div>
          <div class="form-check">
            <label class="form-check-label" for="flexCheckDefault">
              <input class="form-check-input" type="checkbox" value="si" id="flexCheckDefault" name="check">
              Es administrador
            </label>
          </div>
          <div>
            <button type="submit" class="btn-agregar btn btn-primary"> Agregar</button>
          </div>
        </form>

      </div>

      <div class="derecha">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Contraseña</th>
              <th>Administrador</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <% if(usuarios){%>
            <% for(i=0; i < usuarios.length; i++) {%>
              <tr>
                <th><%= i %></th>
                <td><%= usuarios[i].usuario %></td>
                <td><%= usuarios[i].contrasena %></td>
                <td><%= usuarios[i].administrador %></td>
                <td><%if(usuarios[i].usuario != "root" && usuarios[i].usuario != insession){ %>
                        <button class="btn-delete btn btn-danger">Eliminar</button>
                   <%       }%> </td>
              </tr>
            <% } %>
              <% } %>
          </tbody>
        </table>
      </div>

    </div>


  </div>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <% if(typeof alert !="undefined" ) { %>
    <script>
      Swal.fire({
        title: '<%= alertTitle %>',
        text: '<%= alertMessage %>',
        icon: '<%= alertIcon %>',
        showConfirmButton: <%= showConfirmButton %>,
        timer: <%= timer %>
            }).then(() => {
          window.location = '/<%= ruta %>'
        })
    </script>
    <% } %>
</body>

</html>