<!DOCTYPE html>
<html lang="es-MX">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/resources/images/logo-ico.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veterinaria</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/css/style.css">
    <link rel="stylesheet" href="/resources/css/agregar.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">
</head>

<body>


    <div class="main">

        <nav class="navbar navbar-login">
            <a class="btn-back" href="/"><i class="bi bi-arrow-left-square"></i></a>
            <a href="/" class="navbar-home"> 
                <img src="/resources/images/logo-nav.png" alt="logo">
                <div class="navbar-text">
                    <h3><strong>Veterinaria</strong><span class="span-hospedaje">(hospedaje)</span></h3>
                    <h5>Los ingenieros</h5>
                </div>
            </a>
        </nav>

        <form action="/addpet" method="post">
        <div class="agregar-container">

            <% function dateFormat (date) { %>
                <% let day = `${date.getDate() < 10 ? "0" : ""}${date.getDate()}`;   %>
                <% let month = `${(date.getMonth() + 1) < 10 ? "0" : ""}${date.getMonth() + 1}`;%>
                <% let year = date.getFullYear();%>
                <% date = year + "-" + month + "-" + day; return date; } %>

            <div class="mascota-container">
                    <h3>Registro de mascota</h3>
                    <div class="mb-2">
                        <label for="especie" class="form-label">Especie</label>
                        <input type="text" class="form-control" id="especie" name="especie" autocomplete="off" required />
                    </div>
                    <div class="mb-2">
                        <label for="raza" class="form-label">Raza</label>
                        <input type="text" class="form-control" id="raza" name="raza" placeholder="" autocomplete="off" required="" />
                    </div>
                    <div class="mb-2">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="mnombre" name="mnombre" placeholder="" autocomplete="off" required />
                    </div>
                    <div class="mb-2">
                        <label for="edad" class="form-label">Edad</label>
                        <input type="text" class="form-control" id="edad" name="edad" placeholder="" autocomplete="off" required />
                    </div>
                    <div class="mb-2">
                        <label for="adicional" class="form-label">Informacion adicional</label>
                        <input type="text" class="form-control" id="adicional" name="adicional" autocomplete="off" required />
                    </div>
                    <div class="mb-2">
                        <% var  datenow = dateFormat(new Date()); %>
                        <label for="fecha_entrada" class="form-label">Fecha de entrada</label>
                        <input type="date" class="form-control" id="entrada" name="entrada" autocomplete="off" required min="<%=datenow%>"/>
                    </div>
                    <div class="mb-2">
                        <label for="fecha_salida" class="form-label">Fecha de salida</label>
                        <input type="date" class="form-control" id="salida" name="salida" autocomplete="off" required min="<%=datenow%>"/>
                    </div>
                    
                </div>
                <div class="dueno-container">
                    <h3>Registro de dueño</h3>
                    <div class="mb-2">
                        <label for="dnombre" class="form-label">Nombre del dueño</label>
                        <input type="text" class="form-control" id="dnombre" name="dnombre" autocomplete="off" required placeholder="" />
                    </div>
                    <div class="mb-2">
                        <label for="telefono" class="form-label">Teléfono</label>
                        <input type="text" class="form-control" id="telefono" name="telefono" autocomplete="off" required />
                    </div>
                    <div class="mb-2">
                        <label for="direccion" class="form-label">Direccion</label>
                        <input type="text" class="form-control" id="direccion" name="direccion" autocomplete="off" required />
                    </div>
                </div>

                <button class="btn-agregar btn btn-primary btn-outline-white btn-lg px-5" type="submit">Agregar</button>
           
        </div>
    </form>
    </div>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <% if(typeof alert !="undefined" ) { %>
    <script>
      Swal.fire({
        title: '<%= alertTitle %>',
        text: '<%= alertMessage %>',
        icon: '<%= alertIcon %>',
        showConfirmButton: <%= showConfirmButton %>,
        timer: <%= timer %>
            }).then(() => {
          window.location = '/<%= ruta %>'
        })
    </script>
    <% } %>
</body>

</html>