<!DOCTYPE html>
<html lang="es-MX">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/resources/images/logo-ico.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veterinaria</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/css/style.css">
    <link rel="stylesheet" href="/resources/css/ver.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">
</head>

<body>


    <div class="main">

        <nav class="navbar navbar-login">
            <a class="btn-back" href="/"><i class="bi bi-arrow-left-square"></i></a>
            <a href="/" class="navbar-home"> 
                <img src="/resources/images/logo-nav.png" alt="logo">
                <div class="">
                    <h3><strong>Veterinaria</strong><span class="span-hospedaje">(hospedaje)</span></h3>
                    <h5>Los ingenieros</h5>
                </div>
            </a>
        </nav>
        <div class="ver-container">

            <form method="post" action="/busqueda" class="input-group mb-3 search">
                <input type="text" id="busqueda_id" name="busqueda_id" class="form-control" placeholder="Buscar mediante ID" required>
                <button type="submit" class="input-group-text btn btn-primary" id="basic-addon2"><i class=" bi bi-search"></i></button>
              </form>
            
            <div class="table-container">
                <table class="table">
                        <tr class="tr-head">
                            <th class="column-fixed">Id mascota</th>
                            <th class="column-margin">Especie</th>
                           
                            <th >Raza</th>
                            <th >Edad</th>
                            <th >Nombre</th>
                            <th >Informacion adicional</th>
                            <th >Nombre del cliente</th>
                            <th >Fecha de ingreso</th>
                            <th >Fecha de salida</th>
                            <th >Dias de hospedaje</th>
                            <th >Costo</th>
                        </tr>   
                   
                        <% if(tree){%>

                            <% function dateFormat (date) { %>
                                <% let day = `${date.getDate() < 10 ? "0" : ""}${date.getDate()}`;   %>
                                <% let month = `${(date.getMonth() + 1) < 10 ? "0" : ""}${date.getMonth() + 1}`;%>
                                <% let year = date.getFullYear();%>
                                <% date = day + "/" + month + "/" + year; return date; } %>
                               
                        
                            <tr class="tr-body">
                                <td class="column-fixed"><%= tree.value.id_mascota %></td>
                                <td class="column-margin"><%= tree.value.especie %></td>
                                <td><%= tree.value.raza %></td>
                                <td><%= tree.value.edad %></td>
                                <td><%= tree.value.nombre %></td>
                                <td><%= tree.value.informacion_adicional %></td>
                                <td><%= tree.value.nombre_cliente %></td>
                                <td><%= dateFormat(new Date(tree.value.fecha_entrada))   %></td>
                                <td><%= dateFormat(new Date(tree.value.fecha_salida)) %></td>
                                
                                <% var entrada = new Date(tree.value.fecha_entrada) %>
                                <% var salida = new Date(tree.value.fecha_salida) %>
                                <% var fechas = salida.getTime() - entrada.getTime(); %>
                                <% var dias_estancia = Math.round(fechas / (1000 * 60 * 60 * 24)) %>

                                <td><%= dias_estancia %></td>
                                <td><%= tree.value.costo%></td>
                            </tr>
                              
                              <% } else { %>
                               
                                <tr class="tr-body noresults">
                                    <td class="td-noresults" COLSPAN="11">No existe ningún hospedaje con ese id</td>
                                </tr>

                            <%} %>
                </table>
            </div>
        </div>
    </div>
</body>
</html>