<!DOCTYPE html>
<html lang="es-MX">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/resources/images/logo-ico.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veterinaria</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/css/style.css">
    <link rel="stylesheet" href="/resources/css/login.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">


</head>

<body>
        <div class="main">

            <nav class="navbar navbar-login">
                <img src="/resources/images/logo-nav.png" alt="logo">
                <div class="navbar-text">
                    <h3><strong>Veterinaria</strong></h3>
                    <h5>Los ingenieros</h5>
                </div>
            </nav>

           
                <div class="login">
                    <form action="/auth " method="POST" id="sesionForm">

                        <h2 class="login__item fw-bold mb-2 text-uppercase">Bienvenido</h2>

                        <p class="login__item text-50 mb-5">Ingresa tu Contraseña

                        <div class="form-outline form-white mb-4">
                            <input type="text" name="usuario" id="usuario" class="login__item form-control form-control-lg"
                                required />
                            <label class="login__item form-label" for="typePasswordX">Usuario</label>
                        </div>

                        <div class="form-outline form-white mb-4">
                            <input type="password" name="contrasena" id="contrasena"
                                class="login__item form-control form-control-lg" required />
                            <label class="login__item form-label" for="typePasswordX">Contraseña</label>
                        </div>


                        <button class="btn btn-primary btn-outline-white btn-lg px-5" type="submit">Ingresar</button>



                    </form>


                </div>

    </div>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(typeof alert !="undefined" ) { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton %>,
                timer: <%= timer %>
            }).then(() => {
                    window.location = '/<%= ruta %>'
                })
        </script>
        <% } %>
</body>

</html>