<!DOCTYPE html>
<html lang="es-MX">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/resources/images/logo-ico.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veterinaria</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/css/style.css">
    <link rel="stylesheet" href="/resources/css/agregar.css">
    <link rel="stylesheet" href="/resources/css/ticket.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">
</head>

<body>


    <div class="main">

        <nav class="navbar navbar-login">
            <a class="btn-back" href="/"><i class="bi bi-arrow-left-square"></i></a>
            <a href="/" class="navbar-home"> 
                <img src="/resources/images/logo-nav.png" alt="logo">
                <div class="navbar-text">
                    <h3><strong>Veterinaria</strong><span class="span-hospedaje">(hospedaje)</span></h3>
                    <h5>Los ingenieros</h5>
                </div>
            </a>
        </nav>


        <div class="agregar-container ticket-container">
            <div class="ticket">
        

                <h2>Hospedaje finalizado</h2>
                <h3>Dueño: <%= nombre_cliente %></h3>
                <h3>Mascota: <%= nombre %></h3>
                <h3>Costo: <%= costo %></h3>
                <h3>Dias extras: <%= dias_extras %></h3>
                <h3>Pago final: <%= total %> </h3>

               
                <a class="btn-a-container btn-back btn btn-primary" href="/">
                    Menu principal
                </a>
            </div>
        </div>

    </div>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <% if(typeof alert !="undefined" ) { %>
    <script>
      Swal.fire({
        title: '<%= alertTitle %>',
        text: '<%= alertMessage %>',
        icon: '<%= alertIcon %>',
        showConfirmButton: <%= showConfirmButton %>,
        timer: <%= timer %>
            }).then(() => {
          window.location = '/<%= ruta %>'
        })
    </script>
    <% } %>
</body>

</html>