<!DOCTYPE html>
<html lang="es-MX">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/resources/images/logo-ico.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veterinaria</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/css/style.css">
    <link rel="stylesheet" href="/resources/css/ver.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">
</head>

<body>


    <div class="main">

        <nav class="navbar">
            <a class="btn-back" href="/"><i class="bi bi-arrow-left-square"></i></a>
            <img src="/resources/images/logo-nav.png" alt="logo">
            <div class="navbar-text">
                <h3><strong>Veterinaria</strong></h3>
                <h5>Los ingenieros</h5>
            </div>
        </nav>
        <div class="ver-container">
            <div class="table-container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id mascota</th>
                            <th>Especie</th>
                            <th>Raza</th>
                            <th>Edad</th>
                            <th>Nombre</th>
                            <th>Informacion adicional</th>
                            <th>Nombre del cliente</th>
                            <th>Id cliente</th>
                            <th>Hora de ingreso</th>
                            <th>Dias estancia</th>
                            <th>Hora de salida</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(mascotas){%>
                            <% for(i=0; i < mascotas.length; i++) {%>
                              <tr>
                                <th><%= i %></th>
                                <td><%= mascotas[i].especie %></td>
                                <td><%= mascotas[i].raza %></td>
                                <td><%= mascotas[i].edad %></td>
                                <td><%= mascotas[i].nombre %></td>
                                <td><%= mascotas[i].informacion_adicional %></td>
                                <td><%= mascotas[i].nombre_cliente %></td>
                                <td><%= mascotas[i].id_cliente %></td>
                                <td><%= mascotas[i].hora_ingreso %></td>
                                <td><%= mascotas[i].dias_estancia %></td>
                                <td><%= mascotas[i].hora_salida %></td>
                              </tr>
                            <% } %>
                              <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>